html, body{
    width: 100%;
    height: 100%;
}

#table tr:nth-child(even){background-color: #E0F2F1;}
#table tr:hover {background-color: #ddd;}
.table-fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    background-color: #26A69A;
    color: #fff;
}
td:first-child {
  font-weight: bold
}

.main_window{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.locations{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-basis: fill;
    margin-top: 20px;
}

.right{
    margin-right: 20px;
}

a:hover{
    color: #26A69A;
    text-decoration: normal;
}

a{
    font-weight: bold;
    color: black;
}

/* container */

#share {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

/* buttons */

#share a {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 8px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
}

#share a:hover {
    opacity: 1;
}

/* icons */

#share i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* colors */

.facebook {
    background: #3b5998;
}

.twitter {
    background: #55acee;
}

.googleplus {
    background: #dd4b39;
}

.linkedin {
    background: #0077b5;
}

.pinterest {
    background: #cb2027;
}