[
    {
      "index": 0,
      "Places We Have Been": "Titaya's",
      "Cuisine": "Thai",
      "Blurb Review": "best Thai food I have ever eaten super long wait though",
      "Notes": "doesn't split check for 3+ people",
      "Food": "godly",
      "Ambience": "sit down, quite nice inside",
      "Price": "$$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": "thai that goes the extra mile"
    },
    {
      "index": 1,
      "Places We Have Been": "Arlo's",
      "Cuisine": "Burgers",
      "Blurb Review": "Bac'n Cheeze Burger or bust, get the tots (enough for 2 people to share) ",
      "Notes": "next to spider house",
      "Food": "poppin'",
      "Ambience": "food truck outside a bar",
      "Price": "$$",
      "Vegetarian Friendly": 5,
      "Overall Rating": "vegan with a crunch"
    },
    {
      "index": 2,
      "Places We Have Been": "Bouldin Creek Cafe",
      "Cuisine": "American",
      "Blurb Review": "get the tofu scramble even if you're not vegan, its crispy!",
      "Notes": "near \"welcome to austin\" mural",
      "Food": "poppin'",
      "Ambience": "sit down, hipster decor/vibe",
      "Price": "$$$",
      "Vegetarian Friendly": 5,
      "Overall Rating": "screams austin "
    },
    {
      "index": 3,
      "Places We Have Been": "Homeslice",
      "Cuisine": "Pizza",
      "Blurb Review": "yum, go next door to the takeout counter (called more homeslice). so worth",
      "Notes": null,
      "Food": "poppin'",
      "Ambience": "outdoor tables near more HS ",
      "Price": "$",
      "Vegetarian Friendly": 4,
      "Overall Rating": "a love of pizza is upheld "
    },
    {
      "index": 4,
      "Places We Have Been": "Pinthouse Pizza",
      "Cuisine": "Pizza",
      "Blurb Review": "absolutely delish, good variety of pizza, laid out like a bar thingy",
      "Notes": "can sub meat off all pizzas",
      "Food": "godly",
      "Ambience": "order upfront, pretty crowded, sit in little benches.",
      "Price": "$$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": "pear on pizza? never goes wrong"
    },
    {
      "index": 5,
      "Places We Have Been": "Verdes",
      "Cuisine": "Mexican",
      "Blurb Review": "Worst Tex-Mex I've had, refried beans from a can without heating, circle enchiladas??",
      "Notes": null,
      "Food": "blegh",
      "Ambience": "sat in like a tarp tent, felt v weird",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": "how can you make refried beans wrong"
    },
    {
      "index": 6,
      "Places We Have Been": "Trudy's",
      "Cuisine": "Tex-Mex",
      "Blurb Review": "very average tex-mex. i'd rather have chuy's ",
      "Notes": "stuffed avocado is the fave",
      "Food": "meh",
      "Ambience": "sit down, smells weird inside",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 7,
      "Places We Have Been": "Sushi Nichii",
      "Cuisine": "Japanese",
      "Blurb Review": "good veggie sushi, not just a boring vegetables rolled up",
      "Notes": "get a don dish to be full",
      "Food": "p good",
      "Ambience": "sit down, small location. west campus gem",
      "Price": "$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 8,
      "Places We Have Been": "Rushi's Apartment",
      "Cuisine": "Indian ",
      "Blurb Review": "Great! An Austin MUST HAVE",
      "Notes": "(our friend's apt - for memes)",
      "Food": "godly",
      "Ambience": "in the texan tower (shh!)",
      "Price": "FREE",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 9,
      "Places We Have Been": "Hopdoddy's",
      "Cuisine": "Burgers",
      "Blurb Review": "Veggie burger was ok, falls apart and pricy for portion, truffle fries were really good",
      "Notes": "can put veggie patty on all",
      "Food": "aight",
      "Ambience": "order upfront and served to you, basic burger vibe ",
      "Price": "$$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 10,
      "Places We Have Been": "Blue Dahlia Bistro",
      "Cuisine": "Brunch",
      "Blurb Review": "Aight - average waffle, liked the open face sandwich",
      "Notes": "cute places to take pics nearby",
      "Food": "p good",
      "Ambience": "sit down, busy busy brunch spot, very austin, near some cute pic spots",
      "Price": "$$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": "c'est tres mignon"
    },
    {
      "index": 11,
      "Places We Have Been": "Mi Madres",
      "Cuisine": "Mexican",
      "Blurb Review": "V good migas and salsa and the cafe de holla was good",
      "Notes": null,
      "Food": "p good",
      "Ambience": "nice and homey",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 12,
      "Places We Have Been": "Gus World Famous Fried Chicken",
      "Cuisine": "Chicken",
      "Blurb Review": "very good chicken with good spices, real good southern comfort",
      "Notes": null,
      "Food": "p good",
      "Ambience": "felt like a bar, lots of South memorabilia (nothing bad)",
      "Price": "$$",
      "Vegetarian Friendly": 1,
      "Overall Rating": "chicken chicken deluxe"
    },
    {
      "index": 13,
      "Places We Have Been": "Ramen Tatsuya",
      "Cuisine": "Ramen",
      "Blurb Review": "Never really had ramen before but was really rich and good. good brussel sprouts ",
      "Notes": null,
      "Food": "p good",
      "Ambience": "very long tables open seating japanese decor",
      "Price": "$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": "leaves packet ramen in the dust"
    },
    {
      "index": 14,
      "Places We Have Been": "Don",
      "Cuisine": "Japanese",
      "Blurb Review": "crisp tofu, good chicken don, and good veggies, and cheap! ",
      "Notes": "add veggies to tofu don for $3",
      "Food": "p good",
      "Ambience": "very hard to get a seat inside, order at a counter",
      "Price": "$",
      "Vegetarian Friendly": 4,
      "Overall Rating": "classic college place"
    },
    {
      "index": 15,
      "Places We Have Been": "Burrito Factory",
      "Cuisine": "Mexican",
      "Blurb Review": "amazing food, good spices and spice. really fresh, torta is a treasure",
      "Notes": "inside dobie! spicy salsa v spicy",
      "Food": "godly",
      "Ambience": "fast casual, mall style ordering",
      "Price": "$",
      "Vegetarian Friendly": 4,
      "Overall Rating": "dobie's hidden gem/a fresher taco bell"
    },
    {
      "index": 16,
      "Places We Have Been": "Chilantro",
      "Cuisine": "Fusion",
      "Blurb Review": "great unique savory taste, but same proteins/veggies between new carbs",
      "Notes": "kimchi fries are classique",
      "Food": "p good",
      "Ambience": "food truck comes to campus, but brick and mortar is a order at counter",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 17,
      "Places We Have Been": "Taco Deli ",
      "Cuisine": "Tacos",
      "Blurb Review": "good, worth a try. i prefer torchy's, probably. salsas are the bomb diggity",
      "Notes": null,
      "Food": "p good",
      "Ambience": "order at counter, loud on mornings",
      "Price": "$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 18,
      "Places We Have Been": "Taco Joint",
      "Cuisine": "Tacos",
      "Blurb Review": "the MOVE for breakfast tacos, absolute MOVE, near engineering",
      "Notes": null,
      "Food": "p good",
      "Ambience": "order at a counter, then go through the other door to pick up from this very fast paced kitchen. super cramped",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 19,
      "Places We Have Been": "Patrizis",
      "Cuisine": "Italian",
      "Blurb Review": "easily some of the BEST italian food ever, hits every single spot",
      "Notes": "garlic bread 🙌🏽 a worthy investment",
      "Food": "godly",
      "Ambience": "food truck in a super cute lot, we went during a straight up renassaice fair",
      "Price": "$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 20,
      "Places We Have Been": "Madras Pavilion",
      "Cuisine": "Indian ",
      "Blurb Review": "indian buffet, not quality of dallas MP, but still a pretty good deal/tasty",
      "Notes": null,
      "Food": "p good",
      "Ambience": "typical buffet looking",
      "Price": "$$$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 21,
      "Places We Have Been": "Cool Beans Eatery",
      "Cuisine": "Tacos",
      "Blurb Review": "All vegan, tacos are alright, corn tortilla struggles to hold, street corn was legit. ",
      "Notes": "In the same lot as arlo's.",
      "Food": "aight",
      "Ambience": "food truck with a bench, outside of spider house. ",
      "Price": "$$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 22,
      "Places We Have Been": "Kerbey Lane",
      "Cuisine": "Brunch",
      "Blurb Review": "breakfast for the drunk crowd. queso is good. get a pancake, its cheaper than rest",
      "Notes": "open 24/7",
      "Food": "aight",
      "Ambience": "ample seating. a sit down restaurant, but almost always speedy with service",
      "Price": "$$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": "overhyped longhorn fare"
    },
    {
      "index": 23,
      "Places We Have Been": "Pizza Press",
      "Cuisine": "Pizza",
      "Blurb Review": "make your own pizza with lots of options. a true guad staple. always a hit ",
      "Notes": "pesto is a gamechanger",
      "Food": "poppin'",
      "Ambience": "line can get long, but they move really fast. a great option for when you're hungry",
      "Price": "$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": "where picky eaters & food lovers collide"
    },
    {
      "index": 24,
      "Places We Have Been": "Torchy's ",
      "Cuisine": "Tacos",
      "Blurb Review": "absolute classic. a good deal. queso and the independent are the move",
      "Notes": null,
      "Food": "poppin'",
      "Ambience": "weekend nights are hellish with the line. typically fast service, order at a counter",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": "torchys never lets me down"
    },
    {
      "index": 25,
      "Places We Have Been": "Austin's Pizza",
      "Cuisine": "Pizza",
      "Blurb Review": "not bad, satifies a pizza craving, but would rather have pizza press",
      "Notes": null,
      "Food": "p good",
      "Ambience": "sit down pizza restaurant. grungy-ish vibe. 1 pizza enough for 2 people ",
      "Price": "$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 26,
      "Places We Have Been": "Halal Bro's",
      "Cuisine": "Mediterranean",
      "Blurb Review": "karthik's favorite. very good chicken shwarma (best item there). bland rice tho",
      "Notes": "ask for extra sauce. pita is low qual",
      "Food": "aight",
      "Ambience": "small area, order at a counter, can get somewhat cramped",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": "karthik loves it so it's basically the worst"
    },
    {
      "index": 27,
      "Places We Have Been": "Madame Mam's",
      "Cuisine": "Thai",
      "Blurb Review": "probably the worst thai. only 2 things are truly vegetarian, and has no veggies",
      "Notes": "our waiter was def high",
      "Food": "p good",
      "Ambience": "sit down, usually a little crowded so can sit outside. awkward with service. have to like hail them",
      "Price": "$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": "disappointed"
    },
    {
      "index": 28,
      "Places We Have Been": "3 Woks Down",
      "Cuisine": "Chinese",
      "Blurb Review": "expensiv-ish but from what i have heard authentic food. had a good spice to it",
      "Notes": "i think it shut down tho lol",
      "Food": "meh",
      "Ambience": "there were a lot of chinese people, so i felt out of place. was a little dirty/didn't have like niceties ",
      "Price": "$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": "more like 3 shut down"
    },
    {
      "index": 29,
      "Places We Have Been": "Pinch",
      "Cuisine": "Asian",
      "Blurb Review": "was pretty cheap. curry chicken has indian taste, and fried chicken had good crunch",
      "Notes": "literally tastes like mom food",
      "Food": "p good",
      "Ambience": "food truck with seating, the one outside dobie has more food trucks around it",
      "Price": "$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": "great value don (not a great value tho)"
    },
    {
      "index": 30,
      "Places We Have Been": "Coco's Cafe",
      "Cuisine": "Boba/Chinese",
      "Blurb Review": "flavor was good, slightly expensive, haven't had boba yet",
      "Notes": null,
      "Food": "aight",
      "Ambience": "just like a standard restaurant nothing too fancy ",
      "Price": "$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 31,
      "Places We Have Been": "Amy's Ice Cream",
      "Cuisine": "Ice Cream",
      "Blurb Review": "yum yum, some great ice cream, an austin staple. try a \"special\" flavor.",
      "Notes": "free & classic amy's for events in gdc",
      "Food": "poppin'",
      "Ambience": "in soco its a little stand without many tables. on guad, its pretty big, ample seating. ",
      "Price": "$",
      "Vegetarian Friendly": 5,
      "Overall Rating": "classic ice cream and some creativity "
    },
    {
      "index": 32,
      "Places We Have Been": "The Tasty Spoon",
      "Cuisine": "Gelato/Coffee",
      "Blurb Review": "really good gelato that's house churned, hazelnut was soooo good, drinks felt eh",
      "Notes": "dog friendly backyard",
      "Food": "p good",
      "Ambience": "very pretty, minimalist, hipstery vibe, and has some games",
      "Price": "$$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 33,
      "Places We Have Been": "Lucky Lab",
      "Cuisine": "Coffee",
      "Blurb Review": "my \"treat yo-self\". rich coffee, seasonal menus are the move. tacos in the morn",
      "Notes": "behind urban outfitters.",
      "Food": "p good",
      "Ambience": "very small inside, good amount of outdoor seating. love sitting here in spring. DOG FRIENDLY <3",
      "Price": "$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 34,
      "Places We Have Been": "Halcyon Cafe",
      "Cuisine": "Coffee/Cafe",
      "Blurb Review": "cute, hipster spot. good coffee. mac and cheese/crepes were both loved",
      "Notes": "sub bacon out of m&c",
      "Food": "poppin'",
      "Ambience": "ample space to sit whether it is studying or chillin, hipster cafe af",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 35,
      "Places We Have Been": "P Terry's ",
      "Cuisine": "Burgers ",
      "Blurb Review": "the first fast food veggie burger that was genuinely good. lemonade is a gem",
      "Notes": null,
      "Food": "p good",
      "Ambience": "fast food, order at a counter ",
      "Price": "$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 36,
      "Places We Have Been": "Dragonbeard",
      "Cuisine": "Vietnamese ",
      "Blurb Review": "really exciting and tasty banh mi. was a nicely sized portion. thai tea was also good",
      "Notes": null,
      "Food": "p good",
      "Ambience": "very aesthetic. order upfront. kind of in the middle of no where though",
      "Price": "$$ ",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 37,
      "Places We Have Been": "Manolis",
      "Cuisine": "Dessert",
      "Blurb Review": "delicious! so fresh, homeade cakes and ice creams. i hate dessert, but loved it ",
      "Notes": "!! dark cacao cake !! on south 1st",
      "Food": "godly (tentative)",
      "Ambience": "food truck with ample seating ",
      "Price": "$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 38,
      "Places We Have Been": "Fricanos",
      "Cuisine": "Deli",
      "Blurb Review": "fresh, good veggie options, soup is aight, great bread",
      "Notes": null,
      "Food": "p good",
      "Ambience": "busy kitchen with like standard seating and lots of decoration",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": "deli more like de best sandwiches"
    },
    {
      "index": 39,
      "Places We Have Been": "Thai How Are You?",
      "Cuisine": "Thai",
      "Blurb Review": "not bad thai restaurant. fulfills a thai craving, noodle portions small-ish",
      "Notes": "spicy levels flucutate, so clarify",
      "Food": "aight",
      "Ambience": "sit down restaurant, has cushions on the seating kinda cute lol (there is a bitcoin machine inside)",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": "p good, thanks for asking"
    },
    {
      "index": 40,
      "Places We Have Been": "Tejis",
      "Cuisine": "Indian ",
      "Blurb Review": "nothing special, not horrible either. naan is probably best thing ",
      "Notes": "wrap is best deal. ",
      "Food": "aight",
      "Ambience": "order at counter, really slow service, sometimes it takes forever. ",
      "Price": "$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 41,
      "Places We Have Been": "Gordough's",
      "Cuisine": "Donuts",
      "Blurb Review": "abby doesn't like sweets and loved it. crispy donut, to-die-for fudge. big portion.",
      "Notes": "got dirty berry. split 1 between a few",
      "Food": "poppin'",
      "Ambience": "we've only been to the food truck near pinthouse. ",
      "Price": "$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 42,
      "Places We Have Been": "Milky Way Shakes ",
      "Cuisine": "Milkshakes",
      "Blurb Review": "vegan milkshakes made in coconut milk. a fun thing to try. ",
      "Notes": "all the flavors are solid",
      "Food": "p good ",
      "Ambience": "truck/shack thing on the internal outside of spider house. ",
      "Price": "$$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 43,
      "Places We Have Been": "Kesos Tacos",
      "Cuisine": "Tacos",
      "Blurb Review": "cool salsa bar, cheesy queso, p solid tacos (torchys veggies are better)",
      "Notes": "add salsa to queso for some kick",
      "Food": "aight",
      "Ambience": "salsa bar, nothing too hi-fi, low ceiling makes it feel flat",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 44,
      "Places We Have Been": "Isalia's Tex Mex",
      "Cuisine": "Tex-Mex",
      "Blurb Review": "chile relleno had veggies stuffed, pretty standard good tex-mex",
      "Notes": "i think it shut down ",
      "Food": "p good",
      "Ambience": "feels like a standard tex mex place, outside seating was nice since it's tucked away a little on guad",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": "generic tex mex "
    },
    {
      "index": 45,
      "Places We Have Been": "Cherrywood ",
      "Cuisine": "Cafe ",
      "Blurb Review": "coffee was sooo good (so far atx best), HUGE breakfast tacos, they're very tasty.",
      "Notes": "don't park in the street at front",
      "Food": "poppin'",
      "Ambience": "really homey and dark like a typical coffee shop. THEY HAVE FREE YOGA EVERYDAY AT 8!!!",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 46,
      "Places We Have Been": "Polvos",
      "Cuisine": "Tex-Mex",
      "Blurb Review": "one of the tastiest mexican restaurants. roasted vegetables and BEANS - move",
      "Notes": "chips no salsa. long wait",
      "Food": "poppin'",
      "Ambience": "a real sit down type place, only adults were here, but worth it. quick bus ride to south 1st",
      "Price": "$$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 47,
      "Places We Have Been": "Churro Co. ",
      "Cuisine": "Churros",
      "Blurb Review": "so yummy, everything you expect from the perfect churro. we only had the plain",
      "Notes": "1 order enough for 2 people!",
      "Food": "poppin'",
      "Ambience": "food truck, a good amount of seating, cute greenery/lights around. pretty good deal. ",
      "Price": "$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 48,
      "Places We Have Been": "Rise Biscuits",
      "Cuisine": "Donuts, Biscuits",
      "Blurb Review": "Good biscuits, fried tomato was neat, donut was aight, hashpuppies were great!",
      "Notes": null,
      "Food": "aight",
      "Ambience": "felt like a breakfast place - pick up your order and leave not great seating",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 49,
      "Places We Have Been": "Nasha",
      "Cuisine": "Indian-TexMex",
      "Blurb Review": "cute, amazing indian food, was spicy, but flavors were on point, fusion is done well",
      "Notes": "<3 the chile relleno, hot = HOT",
      "Food": "godly ",
      "Ambience": "amazing ambience, the cups and plates are indian style metal, beautiful mural, very good smell",
      "Price": "$$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": "fusion done right"
    },
    {
      "index": 50,
      "Places We Have Been": "Rosita's Al Pastor",
      "Cuisine": "Tacos/Tex-Mex",
      "Blurb Review": "major tasty. vegetables (lots) and beans were dope. tekle liked the beef tacos ",
      "Notes": "near emo's, come and take it ",
      "Food": "poppin'",
      "Ambience": "food truck with actual covered bench seating. ",
      "Price": "$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 51,
      "Places We Have Been": "Mellizoz Tacos",
      "Cuisine": "Tacos",
      "Blurb Review": "quality migas tacos, bowman taco had good flavors to it, sauces are pretty solid",
      "Notes": null,
      "Food": "poppin'",
      "Ambience": "food truck next to gourdoughs with dirty table seating",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 52,
      "Places We Have Been": "T22 Chicken Joint",
      "Cuisine": "Chicken",
      "Blurb Review": "good fried chicken and spice scale. mac and fries were solid as well. pies were YUM",
      "Notes": "kinda far ",
      "Food": "p good",
      "Ambience": "feels like a bar and a casual dining area",
      "Price": "$$",
      "Vegetarian Friendly": 1,
      "Overall Rating": null
    },
    {
      "index": 53,
      "Places We Have Been": "Pho Thai Son",
      "Cuisine": "Vietnamese ",
      "Blurb Review": "very good banh mi for very little price, huge bowls of pho",
      "Notes": "lots of options",
      "Food": "p good ",
      "Ambience": "standard restaurant - not many people always a place to sit pay at the counter ",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 54,
      "Places We Have Been": "Bombay Dhaba ",
      "Cuisine": "Indian ",
      "Blurb Review": "very good, tons of food. 3 subzis, raita, roti, rice, gulab jamun for 8-9 bucks ",
      "Notes": "all in to-go containers, beware spills",
      "Food": "poppin'",
      "Ambience": "food truck, in a lot on south first along with some others. ",
      "Price": "$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 55,
      "Places We Have Been": "Lick Honest Ice Cream",
      "Cuisine": "Ice Cream",
      "Blurb Review": "SO GOOD, very fancy & delicate ice cream. have seasonal and main menu. ",
      "Notes": null,
      "Food": "poppin'",
      "Ambience": "its pretty small, only a few tables",
      "Price": "$$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 56,
      "Places We Have Been": "Little Deli and Pizzeria ",
      "Cuisine": "Pizza/Sandwiches",
      "Blurb Review": "best by the slice pizza i think i've had. sturdy crunchy bottom. super good ",
      "Notes": "good amount of parking ",
      "Food": "godly",
      "Ambience": "small & crowded interior but really pretty and nice patio",
      "Price": "$$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 57,
      "Places We Have Been": "Via 313",
      "Cuisine": "Pizza",
      "Blurb Review": "not bad, but not worth the price. its just good grease food",
      "Notes": "looks small but 3 slices was enough ",
      "Food": "p good",
      "Ambience": "had takeout, but really nice place. has a patio area too. ",
      "Price": "$$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": "yelp hype beast"
    },
    {
      "index": 58,
      "Places We Have Been": "Jinya Ramen",
      "Cuisine": "Ramen",
      "Blurb Review": "enjoyed the creamy vegan ramen. had a very rich flavor and good noodles",
      "Notes": "super filling for lunch",
      "Food": "p good ",
      "Ambience": "nice and sit down. sat outside during the day but had like water fans ",
      "Price": "$$$ ",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 59,
      "Places We Have Been": "Tarka Indian Kitchen",
      "Cuisine": "Indian",
      "Blurb Review": "tikka masala was average. i would definitely come back and try something else",
      "Notes": "very affordable for lunch",
      "Food": "aight",
      "Ambience": "order up front, fast casual, somewhat crowded for lunch",
      "Price": "$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 60,
      "Places We Have Been": "Dos Batos ",
      "Cuisine": "Mexican",
      "Blurb Review": "had takeout but was v tasty, a little greasy. vegetables were like smoked and yum",
      "Notes": null,
      "Food": "p good ",
      "Ambience": "not sure since had takeout, but definitely worth a try ",
      "Price": "$$ ",
      "Vegetarian Friendly": 2,
      "Overall Rating": "hau hax ftw"
    },
    {
      "index": 61,
      "Places We Have Been": "Epoch Coffee",
      "Cuisine": "Cafe ",
      "Blurb Review": "had a bomb latte here, it was a huge portion and had a great rich not acrid taste",
      "Notes": "they have east side pies, yum yum",
      "Food": "poppin'",
      "Ambience": "such a good coffeeshop vibe, just the right amount of white noise, nice patio",
      "Price": "$ ",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 62,
      "Places We Have Been": "Monkeynest Coffee",
      "Cuisine": "Cafe ",
      "Blurb Review": "the spicy monkey mocha (& hot coco) was great, ask for caramel, the barista made it.",
      "Notes": "friend said quiche was alright",
      "Food": "p good ",
      "Ambience": "typical chilled out vibe, lots of studiers here. ",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 63,
      "Places We Have Been": "Pho Please",
      "Cuisine": "Vietnamese",
      "Blurb Review": "pretty subpar banh mi, tofu didn’t have much taste. bread eh. very good Thai tea",
      "Notes": "friend said Chicken pho also only ok.",
      "Food": "aight",
      "Ambience": "Very cute place, really clean and aesthetic inside lol, good service too",
      "Price": "$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 64,
      "Places We Have Been": "Arturo’s Underground Cafe",
      "Cuisine": "Breakfast",
      "Blurb Review": "was so tasty, potatoes so well seasoned Texas eggs in a basket GOAT",
      "Notes": "closes at 2:30, long wait, prepare",
      "Food": "poppin'",
      "Ambience": "pretty hipster cafe hole in the wall vibe, pretty crowded for brunch, had to wait outside for some time",
      "Price": "$$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 65,
      "Places We Have Been": "Second Bar + Kitchen",
      "Cuisine": "American",
      "Blurb Review": "i had one of the pizzas and it was bland. everyone's sandwich looked alright.",
      "Notes": "pizza big portion, others are small",
      "Food": "aight",
      "Ambience": "looks SUPER fancy inside, like it would be a 5 star res, but priced at a reasonable point",
      "Price": "$$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 66,
      "Places We Have Been": "Saigon Le Vendeur",
      "Cuisine": "Vietnamese ",
      "Blurb Review": "pretty dope banh mi. great bread + veggies + tofu. has seitan which is also well done",
      "Notes": "a good portion, was full ",
      "Food": "p good",
      "Ambience": "food truck on east 7th. has a nice shaded area to sit. park on northwestern (road next to train) ",
      "Price": "$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 67,
      "Places We Have Been": "Salvation Pizza",
      "Cuisine": "Pizza",
      "Blurb Review": "super average, pizza was a little soggy. salad was not bad. good deal for lunch",
      "Notes": "good for a lunch",
      "Food": "aight",
      "Ambience": "sit down in the domain, not sure about the near UT location.",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 68,
      "Places We Have Been": "Beer Plant ",
      "Cuisine": "Vegan",
      "Blurb Review": "mac and cheese was tasty. banh fire was not good, and veggie burger was solid",
      "Notes": "go back for happy hour. apps are 👍🏽",
      "Food": "aight",
      "Ambience": "VERY nice interior, ambience was best part of restaurant. good service and great for a date ",
      "Price": "$$$$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 69,
      "Places We Have Been": "Citizen Eatery",
      "Cuisine": "Vegan/American",
      "Blurb Review": "burger was really good. tofu scramble was one of the best mita's had. actually eggy ",
      "Notes": "has a big parking lot in back!",
      "Food": "poppin'",
      "Ambience": "very bright and happy brunch vibe. took a while to get food but worth",
      "Price": "$$$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 70,
      "Places We Have Been": "Flowerchild ",
      "Cuisine": "American",
      "Blurb Review": "had the thai dye wrap. was sweet and a little unflavorful. not worth $10",
      "Notes": "would come back for something else",
      "Food": "aight",
      "Ambience": "so crowded in the domain. they serve you but you order upfront and get a # ",
      "Price": "$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 71,
      "Places We Have Been": "Sa-Ten Coffee and Eats",
      "Cuisine": "Japanese",
      "Blurb Review": "tofu teriyaki and curry were to die for. wish i had more of it. kale salad was pretty meh",
      "Notes": "didn't try coffee",
      "Food": "poppin'",
      "Ambience": "near ABP. its a order and get a number situation. they have a small patio ",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 72,
      "Places We Have Been": "Pho Van",
      "Cuisine": "Vietnamese ",
      "Blurb Review": "only had the banh mi but thoroughly enjoyed. tofu fried and had lots of taste. ",
      "Notes": "cheap, only 6 for banh mi",
      "Food": "poppin'",
      "Ambience": "sit down but pay at front situation. seems to be pretty family owned",
      "Price": "$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 73,
      "Places We Have Been": "Tamale House East",
      "Cuisine": "Mexican",
      "Blurb Review": "chilaquiles tasted homey, refried beans were the BOMB, mexican coffee unique ",
      "Notes": "east 6th, near nasha",
      "Food": "poppin'",
      "Ambience": "patio was very nice lookin. has a cute exterior. order up at front w #s. loved interior, lots of nice wall hangs",
      "Price": "$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 74,
      "Places We Have Been": "Curry in a Hurry",
      "Cuisine": "Indian",
      "Blurb Review": "had takeout thali, had a TON of food great deal. paneer was good, rajma aight",
      "Notes": "they were bought by chutney",
      "Food": "p good",
      "Ambience": "only had takeout so cant speak to it, but im guessing typical chaat house style",
      "Price": "$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 75,
      "Places We Have Been": "Nightcap",
      "Cuisine": "American",
      "Blurb Review": "super duper bougie bar/food/cocktail place. had french toast and cheese plate",
      "Notes": "cheese toppings E H ",
      "Food": "aight",
      "Ambience": "very cutesy place in a house downtown. has fun decor but food doesn't really step up. go 4 happy hour",
      "Price": "$$",
      "Vegetarian Friendly": null,
      "Overall Rating": null
    },
    {
      "index": 76,
      "Places We Have Been": "Hula Hut ",
      "Cuisine": "Mexican",
      "Blurb Review": "pretty typical tex-mex, but was quite average. had enchilada and wasn't crazy for it",
      "Notes": "not accomodating on subs ",
      "Food": "meh",
      "Ambience": "very popular place since its on the lake, near mozarts. pretty view, long-ish wait",
      "Price": "$$",
      "Vegetarian Friendly": null,
      "Overall Rating": null
    },
    {
      "index": 77,
      "Places We Have Been": "Mean Maria's ",
      "Cuisine": "Froyo",
      "Blurb Review": "higher quality froyo - booger had intense lime taste was good - cones were eh ",
      "Notes": null,
      "Food": "p good",
      "Ambience": "its next to food trucks but nota food truck, so seating is food trucky, old timey building",
      "Price": "$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 78,
      "Places We Have Been": "Dolce Neve",
      "Cuisine": "Gelato/Coffee",
      "Blurb Review": "custom flavors are both interesting and well made, smooth silky gelato kinda pricey",
      "Notes": null,
      "Food": "poppin'",
      "Ambience": "just a few seats and an open view of the gelato making area",
      "Price": "$$",
      "Vegetarian Friendly": 5,
      "Overall Rating": null
    },
    {
      "index": 79,
      "Places We Have Been": "Anthem",
      "Cuisine": "Hawaiin",
      "Blurb Review": "alright food - felt like needs more polishing - really good queso",
      "Notes": "fairly new ",
      "Food": "p good",
      "Ambience": "huge area with large bar and drinks on tap - felt a little more upscale downtowny",
      "Price": "$$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 80,
      "Places We Have Been": "Fareground",
      "Cuisine": "Mixed",
      "Blurb Review": "everything here is like just enough to be good, nothing stand out. liked the ramen ",
      "Notes": null,
      "Food": "p good",
      "Ambience": "big food hall with many different places like ramen, cheese shop, cafe, etc",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 81,
      "Places We Have Been": "Brewtorium",
      "Cuisine": "German",
      "Blurb Review": "interesting place, had the mac n cheese and pizza (was tasty, but hard-ish texture)",
      "Notes": "good for groups ",
      "Food": "aight",
      "Ambience": "good food, but lacked pop. was slightly bland, needed something special",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 82,
      "Places We Have Been": "Veracruz al Natural",
      "Cuisine": "Tacos ",
      "Blurb Review": "good ass tacos. quality tortilla, migas, and fillings GET A SMOOTHIE!! ",
      "Notes": "always a line ",
      "Food": "poppin'",
      "Ambience": "food truck with lots of seating, always REALLY busy",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 83,
      "Places We Have Been": "Loro",
      "Cuisine": "Meat",
      "Blurb Review": "small portions, but excently flavored, chips are a move, garlic noodles a little odd",
      "Notes": "aaron franklin + tyson cole",
      "Food": "poppin'",
      "Ambience": "extremely busy, order at counter and they bring it, food is nice plated and looks fancy",
      "Price": "$$$",
      "Vegetarian Friendly": 1,
      "Overall Rating": null
    },
    {
      "index": 84,
      "Places We Have Been": "Asters",
      "Cuisine": "Ethiopian",
      "Blurb Review": "large plate, good injera, lots of \"subjis\", v good spices with different veggies - homey",
      "Notes": null,
      "Food": "p good",
      "Ambience": "homey ambiance, their kids photos near the entrance was cute, felt like a family dinner",
      "Price": "$$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 85,
      "Places We Have Been": "La Campechana",
      "Cuisine": "Mexican",
      "Blurb Review": "Torta was delicious but bread does not compete with bf - fried plaintains YUM",
      "Notes": "talk to them in spanish for veggie ",
      "Food": "p good",
      "Ambience": "it's like two benches outside a run down convenience store and a plain food truck - close to emos",
      "Price": "$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 86,
      "Places We Have Been": "Mount 8k",
      "Cuisine": "Nepalese",
      "Blurb Review": "momos were good not enough though - chowmein was well sauced and flavored ",
      "Notes": null,
      "Food": "p good",
      "Ambience": "just a food truck next to don",
      "Price": "$$",
      "Vegetarian Friendly": 4,
      "Overall Rating": null
    },
    {
      "index": 87,
      "Places We Have Been": "El Mercado ",
      "Cuisine": "Tex-Mex",
      "Blurb Review": "some real quality texmex - a little pricey but nachos were worth it ",
      "Notes": null,
      "Food": "poppin'",
      "Ambience": "huge place next to arturos - well decorated but was mostly empty",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    },
    {
      "index": 88,
      "Places We Have Been": "U Tea Pho",
      "Cuisine": "Viet",
      "Blurb Review": "pretty good chicken pho - broth was really good chicken was too chewy",
      "Notes": null,
      "Food": "p good",
      "Ambience": "a lot of students and some weird remixes playing ",
      "Price": "$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 89,
      "Places We Have Been": "Bao'd Up",
      "Cuisine": "Chinese",
      "Blurb Review": "ate only one item - was small but fried chicken was good and gua bao was well flavor",
      "Notes": "next to alamo drafthouse",
      "Food": "p good",
      "Ambience": "gave food in steamers, looked authentic(?), not a lot of seating ",
      "Price": "$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 90,
      "Places We Have Been": "Four Brothers",
      "Cuisine": "Venezualan",
      "Blurb Review": "Arepas were delicious - wasn't extremely flavorful, but enjoyed the components ",
      "Notes": "food truck",
      "Food": "p good",
      "Ambience": "food truck it's on campus sometimes and on rainey street ",
      "Price": "$$",
      "Vegetarian Friendly": 2,
      "Overall Rating": null
    },
    {
      "index": 91,
      "Places We Have Been": "Simply Wow ",
      "Cuisine": "Assortment",
      "Blurb Review": "grilled cheese are extremely fatty delicious, cheesey arepas were great",
      "Notes": "get mac n cheese grilled cheese",
      "Food": "p good",
      "Ambience": "food truck outside dobie not much seating ",
      "Price": "$$",
      "Vegetarian Friendly": 3,
      "Overall Rating": null
    }
  ]