{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div>
<main>
  <!-- Display flash message -->
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div id="flashmessage" class="flash">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <!-- Timeout flash message -->
      <script>$('#flashmessage').fadeOut(3000);</script>
    </div>
  </section>

<!--   <table id="my-final-table">
    <thead>
      <th>Places We Have Been</th>
      <th>Cuisine</th>
      <th>Food</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  <script type="text/javascript">
    $(document).ready( function(){
    $('#my-final-table').dynatable();
  });

    var $records = $('restaurants.json'),
      myRecords = JSON.parse($records.text());
  $('#my-final-table').dynatable({
    dataset: {
      records: myRecords
    }
  });
  </script>> -->
  <section>
    <header>
      <div class="container">
        <div class="row">
          <h3>Restaurants</h3>
        </div>
        {% for thing in things %}
        <div class="row">
          <h4>{{thing}}</h4>
        </div>
        {% endfor %}
      </div>
    </header>
  </section>


</main>
</div>

{% endblock %}